table{
	
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
	border: none;
}
td{
	border-radius: 20px;
}
.t1{
	background: rgb(242, 247, 247);
	border-radius: 0;
	border-bottom: 1px solid gray;
}
.t2{
	color: white;
	cursor: pointer;
	font-size: 13px;
	margin: 1px ;
	border: none;
}
.t2:hover{
	transform: translateY(-3px);
	transition: .5s;
	box-shadow: 0px 10px 20px -10px gray;
}
