*{
	margin: 0;
	padding: 0;
}
#box0{
	width: 100%;
	height: 650px;
	background-color: rgb(36, 40, 51);
}
#box1{
	width: 1200px;
	margin: 0 auto;
	height: 650px;
	background-color: rgb(36, 40, 51);
}
#box1 #box1_1{
	width: 100%;
	height: 48px;
	padding-top: 45px;
}
.sp{
	font-weight: bold;
	font-size: 23px;
	color: gray;
}
.sp1{
	cursor: pointer;
	color: aliceblue;
	padding: 10px 20px;
	margin-left: 20px;
	border: 1px solid rgb(36, 40, 51);
	border-radius: 20px;
}
.sp1:hover{
	color: #4985f2;
	border: .5px solid #4985f2;
}
#left1{
	width: 360px;
	display: inline-block;
}

#right1{
	float: right;
	width: 800px;
	display: inline-block;
}

#right1 img{
	width: 186.66px;
}
#right1 #box11{
	position: relative;
	display: inline-block;
	width: 186.66px;
	height: 186.66px;
	margin: 5.2px;
	margin-top: 0;
	margin-bottom: 13.5px;
	overflow: hidden;
}
#right1 #box11 p{
	width: 100%;
	/* opacity: .8;
	background: gray; */
	text-align: center;
	font-size: 16px;
	color: aliceblue;
	font-weight: bold;
	position: absolute;
	bottom: 3px;
}
#box00{
	position: relative;
	width: 389.33px;
	height: 389.33px;
	overflow: hidden;
}
#box00 #boxa{
	color: aliceblue;
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 3px;
}
#left1 img:hover{
	transform: scale(1.2);
	transition: 1s;
}
#right1 img:hover{
	transform: scale(1.2);
	transition: 1s;
}
#box1_3{
	width: 970px;
	margin: 0 auto;
	margin-top: 42px;
}
