* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: rgb(21, 48, 59);
}
main{
	width: 100%;
	height: 100%;
	background-color: rgb(21, 48, 59);
	position: relative;
}
.img1{
	width: 100%;
	height: auto;
}
#box1{
	width: 12vw;
	height: 5vw;
	position: absolute;
	top: 1.95vw;
	left: 4vw;
}
.img2{
	width: 60vw;
	height: auto;
	position: absolute;
	top: 9.5vw;
	left: 19.5vw;
	z-index: 1;
	display: none;
}
#box2{
	width: 33vw;
	height: 20vw;
	position: absolute;
	top: 17.8vw;
	left: 15vw;
}
#box3{
	width: 33vw;
	height: 20vw;
	position: absolute;
	top: 17.8vw;
	left: 51.08vw;
}
#box1,#box2,#box3:hover{
	cursor: pointer;
}