*{
	margin: 0;
	padding: 0;
}
#box{
	width: 100%;
	height: 120px;
	background: url(img/ms_index_bg.gif) repeat fixed center;
}
#box1{
	width: 900px;
	margin: 0 auto;
	position: relative;
}
#box2{
	width: 667px;
	height: 35px;
	background: url(img/ms_top_005.gif) repeat ;
	position: absolute;
	top: 78px;
	left: 230px;
}
.p1{
	margin: -2.3px;
	display: inline-block;
	vertical-align: top;
}
#left{
}
#right{
	position: absolute;
	top: 0px;
	right: 0;
}
span{
	font-size: 12.5px;
	color: aliceblue;
}
